div {
  width: 500px;
}
div > span {
  float: left;
}

div > span > img {
  width: 64px;
  height: 64px;
  border-radius: 300px;
  margin: auto;
  padding: 20px;
}
#online {
  float: right;
  position: absolute;
  top: 71px;
  left: 60px;
}

div > #online > div {
  width: 17px;
  height: 17px;
  float: left;
  border: 1px solid white;
  border-radius: 300px;
  margin-left: 15px;
  margin-right: 70px;
  margin-bottom: 90px;
}
div > #online > .gray {
  background-color: #dbdbdb;
}
div > #online > .green {
  background-color: #4cfe88;
}

.container {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container > span > img {
  width: 64px;
  height: 64px;
  border-radius: 300px;
  padding: 15px;
}
.container > #online2 {
  width: 400px;
  height: 210px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 135px;
}
.container > #online2 > div {
  width: 17px;
  height: 17px;
  border-radius: 300px;
  margin-top: 60px;
  margin-bottom: 25px;
  border: 1px solid white;
}
.container > #online2 > .gray1 {
  background-color: #dbdbdb;
}
.container > #online2 > .green2 {
  background-color: #4cfe88;
}
